main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.container {
  text-align: center;
}

.homeLink {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
}

.homeLink:hover {
  text-decoration: underline;
}

.image {
  max-width: 100%;
  height: auto;
}
